* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

.left {
    background-image: url("jerusalem-5166912.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 35%;
}

.right {
    margin: 0;
    width: 100%;
}

.right .upper {
    padding: 3rem;
    width: 100%;
    background-color: antiquewhite;
}

.right p {
    max-width: 75ch;
}

.right .lower {
    padding: 3rem;
}